In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

In [28]:
raw_mail_data=pd.read_csv('spam.csv')

In [31]:
raw_mail_data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [34]:
raw_mail_data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)

In [37]:
raw_mail_data.rename(columns={'v1':'Category','v2':'Message'},inplace=True)

In [38]:
raw_mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [39]:
### Replacing null value with null string
mail_data=raw_mail_data.where(pd.notnull(raw_mail_data),'')

In [40]:
mail_data.shape

(5572, 2)

In [41]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [56]:
#mail_data.loc[mail_data['Category']=='spam','Category',]==0
#mail_data.loc[mail_data['Category']=='ham','Category',]==1
mail_data['Category'].replace({'spam': 0,'ham':1},inplace=True)

In [59]:
x=mail_data['Message']
y=mail_data['Category']

In [60]:
mail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   int64
 1   Message   5572 non-null   object
dtypes: int64(1), object(1)
memory usage: 87.2+ KB

In [58]:
print(x)
print(y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will ï¿½_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: int64

In [53]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=3)

In [74]:
## transform  the text data to feature vectors that can be used as input to to th svm model
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')
x_train_feature=feature_extraction.fit_transform(x_train)
x_test_feature=feature_extraction.transform(x_test)

In [75]:
## Training the model using support vector machine
model=LinearSVC()
model.fit(x_train_feature,y_train)

LinearSVC()

In [83]:
## predcition on training data
prediction_on_training_data=model.predict(x_train_feature)
accuracy_on_training_data=accuracy_score(y_train,prediction_on_training_data)
print('Accuracy on training data:',accuracy_on_training_data)

Accuracy on training data: 0.9995512676688355

In [84]:
## prediction on testing data
prediction_on_test_data=model.predict(x_test_feature)
accuracy_on_test_data=accuracy_score(y_test,prediction_on_test_data)
print('Accuracy on test data:',accuracy_on_test_data)

Accuracy on test data: 0.9856502242152466

In [87]:
## prediction on new mail
input_mail=["I'm gonna be home soon and i don't want to talk about this stuff anymore tonight, k? I've cried enough today."]
## convert text to feature vectors
input_mail_features=feature_extraction.transform(input_mail)
prediction=model.predict(input_mail_features)
print(prediction)

['ham']